.portfolio-static .thumbnail {
    text-align: center;
}

.portfolio-static .thumbnail a img {
    max-height: 360px;
}

@media (max-width: 768px) {
    #project-list {
        margin-top: 50px;
    }
}